# Virtual environment
.venv/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Pytest cache
.pytest_cache/

# Editor directories
.vscode/
.idea/

# Distribution/packaging
dist/
build/
*.egg-info/